@import "tailwindcss";

/** ********************************************
**             THEMES DARK AND LIGHT
** ****************************************** **/


:root {
  --bg-color: white;
  --text-color: black;
  --text-title-order-color: white;
  --text-total-order-color: white;
  --bg-color-title-card-order: #1a202c;
}
.theme-dark {
  --bg-color: #1a202c;
  --text-color: white;
  --text-title-order-color: #1a202c;
  --text-total-order-color: #1a202c;
  --bg-color-title-card-order: #f3f3f3;
}

/** ************************************* **
  **              Global Styles
  ** ************************************* **/

  .overlay_loader {
    background-color: #000000b8;
  }

 /** ************************************* **
  **        Modal Options Products
  ** ************************************* **/
.container-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/** ************************************* **
  **              ORDERS
  ** ************************************* **/

  .btn-filter-orders {
    color: var(--text-color);
  }
  .font-medium {
    color: var(--text-color);
  }
  .text-option-details{
    color: var(--text-color);
  }
  .title-card-order {
    background-color: var(--bg-color-title-card-order);
  }
  .text-title-order {
    color: var(--text-title-order-color);
  }
  .text-total-order {
    color: var(--text-total-order-color);
  }